@model MovieRecommendationSystem.EntityLayer.Concrete.Movie
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MRSystemLayout.cshtml";
}
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">

            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group"></div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
        </ul>

    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Welcome to Movie Recommendation System</h2>

    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Select the filters</h5>

                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("GetMovies", "Movie", FormMethod.Post))
                    {
                        <form>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Genre</label>
                                <div class="col-lg-10">
                                    @Html.ListBoxFor(x => x.SelectedGenres, (IEnumerable<SelectListItem>)ViewBag.Genres,
        new { multiple = "multiple", @id = "lbGenres", style = "width:300px" })
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-10">
                                    @Html.ValidationMessageFor(x => x.SelectedGenres, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Year</label>
                                <div class="col-lg-10">
                                    @Html.DropDownListFor(x => x.Year, (IEnumerable<SelectListItem>)ViewBag.Years, "", new { @id = "ddYears", @class = "form-control", style = "width:300px" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-10">
                                    @Html.ValidationMessageFor(x => x.Year, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Language</label>
                                <div class="col-lg-10">
                                    @Html.DropDownListFor(x => x.iso_639_1, (IEnumerable<SelectListItem>)ViewBag.Languages, "", new { @id = "ddLanguages", @class = "form-control", style = "width:300px" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label"></label>
                                <div class="col-lg-10">
                                    @Html.ValidationMessageFor(x => x.iso_639_1, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-offset-2 col-lg-12">
                                    <button class="btn btn-primary block full-width m-b-lg" type="submit">Submit</button>
                                    @if (User.Identity.Name=="")
                                    {
                                        <a href="/Login/Login" class="btn btn-primary block full-width m-b-lg" type="submit">Log in to Movie Recommendation System</a>

                                    }
                                </div>
                            </div>
                        </form>
                    }
                    


                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#lbGenres").select2({
            
        });

    });

    $(document).ready(function () {
        $("#ddLanguages").select2({
            
            allowClear:true

        });

    });

    $(document).ready(function () {
        $("#ddYears").select2({
            
            allowClear: true

        });

    });
</script>



